*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
}
.wrapper{
	width:1170px;
	margin:auto;
}
body{
	background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url("lo.jpg");
    height: 100vh;
    background-size: cover;
	background-position: center;
	position: relative;
	
}
.logo img{
	
	width: 70px;
	height: auto;
	float:left;
	margin-left: 100px;
	margin-top: 10px;
}
.heading{
	
	position: absolute;
	width:600px;
	height:300px;
	margin:20% 30%;
	text-align: center;
    text-shadow: 2px 2px 5px #8600b3;
	margin-top: 40px;
	color:#d9d9d9;
	text-transform: uppercase;
	font-size: 25px;
	font-family: Times New Roman;
	margin-left: 355px;
}

.nav-area{
	float: right;
	list-style : none;
	margin-top: 30px;
}

.nav-area li{
	display: inline-block;
}
.nav-area li a{
	color: #f2f2f2;
	text-decoration: none;
	padding: 5px 20px;
	font-family: Times New Roman;
	font-size: 16px;
}
.nav-area li a:hover{
	background:#d9d9d9;
	color:#022;
}

.search-bar{
	position: absolute;
	width: 80%;
	height: 5%;
	max-width:650px;
	background: rgba(255,255,255,0.2);
	display:flex;
	align-items:center;
	border-radius: 60px;
	margin-left: 300px;
	padding:8px 20px;
	
	margin:6% 25%;
	
}
.search-bar input{
	
	background: transparent;
	flex:1;
	border:0;
	outline:none;
	padding: 24px,20px;
	font-size:16px;
	color: #cac7ff;
}
::placeholder{
	color:#cac7ff;
}
.search-bar img{
	width: 20px;
	height: auto;
	float:left;
	color: #cac7ff;
	background: transparent;
}

.cards{
	display: flex;	
	justify-content: center;
}
.card{
	background:  #f2f2f2;
	width:250px;
	height:380px;
	margin:30px;
	border-radius:10px;
	margin-top:200px;
	
}
.card-image{

	height:155px;
	margin-bottom:15px;
	border-radius:10px 10px 0 0;
}
.estate-1{
	background-image: url("background.jpeg");
}
.estate-2{
	background-image: url("estate2.jpeg");
}
.estate-3{
	background-image: url("estate3.jpeg");
}
.card h{
	padding: 30px;
}
.card a{
	background-color:#cc33ff;
	color: #cac7ff;
	padding: 10px 15px;
	display:block;
	text-align:center;
	margin: 20px 50px;
}

.card p{
	padding: 5px;
}